URL=http://example.com
# taken from https://formsync.app
PUBLIC_FORM_ID=XXXX
PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXX
# make sure to configure your repo according to the instructions on https://giscus.app
PUBLIC_GISCUS_REPO=example/example-repo
PUBLIC_GISCUS_REPO_ID="XXXX"
PUBLIC_GISCUS_CATEGORY="Comments"
PUBLIC_GISCUS_CATEGORY_ID="XXXXXX"
